#page-wrapper{
  position: relative;
  mragin:0 auto;
  width:1000px;
}
#nav-bar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: #cc0000;
  color: white; */
  font-family: 'Exo 2', sans-serif;
  padding:1em;
}
/* nav{
  padding: 0px 50px;
  background-color:crimson;
  
} */
img{
  width: auto;
  height: 140px;
}
#nav-container{
  display: flex;
  justify-self: unset;
  list-style-type: none;
  float: right;
  flex-direction: row;
}
.nav-link{
  padding: 10px 10px;
  color: red;
  background: azure;
  border-radius: 18px;
  margin-left: 10px;
}
.nav-link:hover{
  color:white;
  background-color: rgb(13, 194, 133);
}
h3{
  font-family: 'Courier New', Courier, monospace;
  color:black;
  margin-top:-30px;
}
a{
  color:black;
}
h2{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
#email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  margin-left: 300px;
}
#submit {
  padding: 6px 15px;
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 150px;
  margin-left: 420px;
  background-color: black;
  border-radius: 15px;
}

h1{
  font-family:'Times New Roman', Times, serif;
  margin-left: 18px;
}
p{
  margin-left: 36px;
  font-size: large;
}
#How-it-Works{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
h4{
  font-size: x-large;
  background-color:orangered;
  color:black;
  font-weight: bolder;
  font-style:italic;
}


.iframe-container{
  width:100%;
  height:0;
  position: relative;
  padding-bottom: 56.25%;
}
.iframe-container iframe{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
#price{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
}
#box1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
#box2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}#box3{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

h5 {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  background-color: darkgoldenrod;
  color: rgb(117, 4, 4);
  padding: 0px 15px;
  text-transform:uppercase ;
}
li{
  font-size: x-large;
  list-style-type: none;
}
.button {
  border-radius: 15px;
  padding: 10px 10px;
  background-color: darkgreen;
  color: black;
  text-align: center;
  font-size: large;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(3, 61, 80);
  }
}